@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@font-face {
  font-family: 'sf-pro-display';
  src: url('/Fonts/sf-pro-display-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'sf-pro-display';
  src: url('/Fonts/sf-pro-display-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'sf-pro-display';
  src: url('/Fonts/sf-pro-display-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


@theme{
  --font-sf: sf-pro-display, 'sans-serif';
  --font-geist: Geist,'times new roman', 'serif';
}
.super-blur {
  backdrop-filter: blur(225.88px);
  -webkit-backdrop-filter: blur(225.88px);
}


